<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="row">
      <div class="thumbnail">
        <div class="st-signal-chart-container">
          <div class="st-signal-chart">
            <!-- TradingView Widget BEGIN -->
            <!--script type="text/javascript">
              new TradingView.widget({
              "autosize": true,
              "symbol": "<%= @user_trading_signal.trading_signal.ticker.tradingview %>",
              "interval": "D",
              "timezone": "Etc/UTC",
              "theme": "White",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_top_toolbar": true,
              "save_image": false,
              "hideideas": true
              });
            </script>
            <!-- TradingView Widget END -->
          </div>
        </div>
        <div class="caption">
          <div class="row">
            <div class="col-xs-6">
              <%= form_for @user_trading_signal, url: user_trading_signals_like_path(@user_trading_signal) do |f| %>
                <%= f.button type: :submit, class: "btn btn-success btn-lg btn-block center-block" do %>
                  <%= content_tag(:span, '', class: "glyphicon glyphicon-thumbs-up", "aria-hidden": :true) %>
                <% end %>
              <% end %>
            </div>
            <div class="col-xs-6">
              <button class="btn btn-danger btn-lg btn-block center-block">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
