<div class="row">
  <% @user_trading_signals.each do |user_trading_signal| %>
    <div class="col-lg-4 col-sm-6">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="thumbnail">
            <div class="st-signal-chart-container">
              <div class="st-signal-chart">
                <!-- TradingView Widget BEGIN -->
                <script type="text/javascript">
                  new TradingView.widget({
                  "autosize": true,
                  "symbol": "<%= user_trading_signal.trading_signal.ticker.tradingview %>",
                  "interval": "D",
                  "timezone": "Etc/UTC",
                  "theme": "White",
                  "style": "1",
                  "locale": "en",
                  "toolbar_bg": "#f1f3f6",
                  "enable_publishing": false,
                  "hide_top_toolbar": true,
                  "save_image": false,
                  "hideideas": true
                  });
                </script>
                <!-- TradingView Widget END -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
